/* * { box-sizing: border-box; }*/

.item {
  position: relative;
  float: left;
  border: thin solid blue;
}

#menu {
  border: thin solid black;
  background-color: green;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-size: 1em;
}

/* CLEARFIX */
#menu:after {
  content: "";
  display: table;
  clear: both;
  background-color: black;
}

.subitem { border: thin solid red; }

.item2{
  background-color: green;
  color: White;
  font-size: 200%;
}

.submenu { display: none;}

.item:hover > .submenu {
  position: absolute;
  display: block;
  width: auto;

}

.logo{

    margin-left: 650px;

}

.actualidad{
    margin-left: 75px ;
}

.back_destacado{
  background-color: green;
}

.box{
  background-color: white;
  border: thin solid green;
  float: left;
  width: 300px;
  margin: 0 15px 15px 0;
  height: 350px;
  
}
.box img{
  max-width: 100%;
}

.box p{
  text-align: start;
  color: green;
  font-size: 150%;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif ;
}


.scroll {
  scroll-snap-align: center;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
    
}
  
.scroll img {
  text-align: center;
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
  box-shadow: black 4px 4px 40px;
}

